/*** ESTILOS PAGINA CONTACTO / INICIO / ***/

.border-bottom {
  border-bottom: 1rem solid #000000;
}

.main__box {
  height: auto;
}

.box__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.box__image {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.box__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.box__img img {
  width: 80%;
  height: auto;
  border-radius: 5%;
  max-width: 100%;
}




.box__text {
  width: auto;
  height: auto;
}

.text__p {
  font-size: 1.4rem;
  font-family: roboto;
  color: #ffffff;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}




/* Estilo solo formulario */

.contact__form {
  width: 40%;
  height: max-content;
  padding-right: 1rem;
}

